body{
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
 .help{
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: absolute;
    width: 1263px;
    height: 620px;
    left: 0;
    top: 0;
 }
.food{
    color: white;
    text-align: center;
    padding-top: 150px;
    font-size: 20px;
}
.food p{
    font-size: 20px;
    font-size: 700;
}
.link-button{
    text-decoration: none;
    color: white;
    font-size: 700;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    border-radius: 5px;
}
.donate{
    text-align: center;
    color: gray;
    padding-top: 40px;
    font-size: 20px;
}
#now{
    color: black;
}
.father{
    display: flex;
    align-items: center;
    justify-content: center;
}
.children{
    height: 150px;
    width: 150px;
    background-color: #ededed;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ro-cl{
    box-sizing: border-box;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
}
.other{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin: 20px 0;
    width: 100%;
    height: 0px;
    border: 1px solid #DADADA;

}
input{
    padding: 10px;
    width: 80%;
    outline: none;
    border: none;
    font-size: 20px;
    text-align: center;
    border-bottom: 3px solid #999;
}
.now{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}
.auto-layer{
    display: inline-block;
    align-items: baseline;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    color: white;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    width: 100px;
    height: 25px;
    border-radius: 5px;

}
.icon{
    display: flex;
    align-items: center;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;

}
.practice{
    justify-content: space-around;
    width: 360px;
    left: 157px;
    box-shadow: 1px 2px 15px rgba(0,0,0,0.6);
    margin: 15px;
    padding: 15px;
}
#first{
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
}
#second{
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
}
#third{
    background: rgba(135, 144, 113, 0.1);
    border-radius: 5px;
}
.flexible-container{
    display: flex;
    padding-top: 5%;
}
.half-width{
    width: 50%;
    padding-left: 3%;
}
#pra{
    padding-right: 5%;
}
.half-width img{
    width: 90%;
    padding-top: 15px;
    padding-left: 10px;
}
.half-width-2 img{
    width: 90%;
    padding-top: 15px;
    padding-left: 5%;
}
.button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(orange, red);
    padding: 10px 30px;
    border-radius: 7px;
}
.get{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
    color: gray;
}
#my{
    color: black;
}
.email-box{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid 0;
    margin: 50px;
    padding: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background: #FFF4D6;
    height: 150px;
}  
form{
    display: flex;
    height: 50px;
}
.email-box > form > input{
border: 2px solid red;
background-color: rgb(86, 83, 83);
}
.button-2{
    background-image: linear-gradient(orange, red);
    padding: 10px 30px;
    color: white;
    font-size: 700;
    border-color: none;

}
footer{
    background-color: black;
}
.be{
    color: orange;
    text-align: center;
    height: 80px;
    padding-top: 3%;
    font-size: 30px;
    background-size: cover;
    background-position: absolute;
    font-family: 'Noto Serif', serif;
}
.do{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}